<div class="table-responsive table-responsive-data2">
  <table class="table table-data2">
    <thead>
      <tr>
        <th>Trip No.</th>
        <th>Session</th>
        <th>Trip Distance</th>
        <th>Fuel Used</th>
        <th>Trip Status</th>
      </tr>
    </thead>
    <tbody>
      <tr class="tr-shadow" *ngFor="let data of response; let i= index">
        <td>{{i}}</td>
        <td>
          <span class="block-email">{{data?.session}}</span>
        </td>
        <td class="desc">{{ (data?.tripDistanceMax - data?.tripDistanceMin) | number:'1.1-2'}} miles</td>
        <td>{{ (data?.fuelMaX - data?.fuelMin) | number:'1.1-2'}} %</td>
        <td>
          <span class="status--process">Completed</span>
        </td>

        <td>
          <div class="table-data-feature">
            <button class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="More" (click)="getdetailsBySessionId(data?.session)">
              <i class="zmdi zmdi-more"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>