<!-- MENU SIDEBAR-->

<div class="logo">
    <a href="#">
        <img src="./assets/images/icon/logo.png" alt="Cool Admin" />
    </a>
</div>
<div class="menu-sidebar__content js-scrollbar1">
    <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar__list">
            <li class="active has-sub">
                <a class="js-arrow" (click)="redirect('home')">
                    <i class="fas fa-tachometer-alt"></i>Dashboard</a>
            </li>
            <li>
                <a (click)="redirect('live')">
                    <i class="fas fa-chart-bar"></i>Vehicle Profile</a>
            </li>
        </ul>
    </nav>
</div>

<!-- END MENU SIDEBAR-->