<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="overview-wrap">
        <h2 class="title-1">overview</h2>
      </div>
    </div>
  </div>
  <div class="row m-t-25">
    <div class="col-sm-6 col-lg-3">
      <div class="overview-item overview-item--c1">
        <div class="overview__inner">
          <div class="overview-box clearfix">
            <div class="icon">
              <i class="fas fa-car"></i>
            </div>
            <div class="text">
              <h2>10368</h2>
              <span>Vehicles Onboard</span>
            </div>
          </div>
          <div class="overview-chart">
            <canvas id="widgetChart1"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="overview-item overview-item--c2">
        <div class="overview__inner">
          <div class="overview-box clearfix">
            <div class="icon">
              <i class="fas fa-wifi"></i>
            </div>
            <div class="text">
              <h2>9045</h2>
              <span> Online Vehicles</span>
            </div>
          </div>
          <div class="overview-chart">
            <canvas id="widgetChart2"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="overview-item overview-item--c3">
        <div class="overview__inner">
          <div class="overview-box clearfix">
            <div class="icon">
              <i class="fas fa-wrench"></i>
            </div>
            <div class="text">
              <h2>1,086</h2>
              <span>Maintainance History</span>
            </div>
          </div>
          <div class="overview-chart">
            <canvas id="widgetChart3"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="overview-item overview-item--c4">
        <div class="overview__inner">
          <div class="overview-box clearfix">
            <div class="icon">
              <i class="fas fa-briefcase-medical"></i>
            </div>
            <div class="text">
              <h2>2235</h2>
              <span>Service History</span>
            </div>
          </div>
          <div class="overview-chart">
            <canvas id="widgetChart4"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="au-card recent-report">
        <div class="au-card-inner">
          <h3 class="title-2">Recent Trip Reports</h3>
          <div class="chart-info">
            <div class="chart-info__left">
              <div class="chart-note">
                <span class="dot dot--blue"></span>
                <span>Cabs</span>
              </div>
              <div class="chart-note mr-0">
                <span class="dot dot--green"></span>
                <span>Buses</span>
              </div>
            </div>
            <div class="chart-info__right">
              <div class="chart-statis">
                <span class="index incre">
                  <i class="zmdi zmdi-long-arrow-up"></i>25%</span>
                <span class="label">Buses</span>
              </div>
              <div class="chart-statis mr-0">
                <span class="index decre">
                  <i class="zmdi zmdi-long-arrow-down"></i>10%</span>
                <span class="label">Cabs</span>
              </div>
            </div>
          </div>
          <div class="recent-report__chart">
            <canvas id="recent-rep-chart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="au-card chart-percent-card">
        <div class="au-card-inner">
          <h3 class="title-2 tm-b-5">Vehicle Maintainance By %</h3>
          <div class="row no-gutters">
            <div class="col-xl-6">
              <div class="chart-note-wrap">
                <div class="chart-note mr-0 d-block">
                  <span class="dot dot--blue"></span>
                  <span>Buses</span>
                </div>
                <div class="chart-note mr-0 d-block">
                  <span class="dot dot--red"></span>
                  <span>Cabs</span>
                </div>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="percent-chart">
                <canvas id="percent-chart"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>



<!-- PAGE CONTENT-->
<div class="page-content">

  <div class="row">
    <div class="col-md-12">
      <div class="copyright">
        <p>Copyright © 2018 MindDrive. All rights reserved. Developed By
          <a href="https://www.mindsphere.io">MindDrive</a>.</p>
      </div>
    </div>
  </div>
</div>
<!-- END PAGE CONTENT-->
<!-- END MAIN CONTENT-->