<div class="row">
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <img src="./assets/images/car/carrun.{{currentData?.rpm > 0 ? 'gif' : 'jpg'}}" alt="" style="margin-bottom:40px;">
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <div class="overview-item overview-item--c2">
          <div class="overview__inner">
            <div class="overview-box clearfix">
              <div class="icon">
                <i class="fas fa-tachometer-alt"></i>
              </div>
              <div class="text">
                <h2>{{currentData?.speed}}
                  <span>km/hr</span>
                </h2>
                <span>Speed</span>
              </div>
            </div>
            <!-- <div class="overview-chart">
                <canvas id="widgetChart1"></canvas>
              </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <div class="overview-item overview-item--c1">
          <div class="overview__inner">
            <div class="overview-box clearfix">
              <div class="icon">
                <i class="fas fa-cog" style="font-size: 43px;"></i>
              </div>
              <div class="text">
                <h2>{{currentData?.rpm}}
                  <span>Rev/Min</span>
                </h2>
                <span>RPM</span>
              </div>
            </div>
            <!--   <div class="overview-chart">
                <canvas id="widgetChart2"></canvas>
              </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <div class="overview-item overview-item--c3">
          <div class="overview__inner">
            <div class="overview-box clearfix">
              <div class="icon">
                <i class="fas fa-address-card"></i>
              </div>
              <div class="text">
                <h2>{{currentData?.fuleRemaining | number:'2.1-2'}}
                  <span>%</span>
                </h2>
                <span>Fuel Guage</span>
              </div>
            </div>
            <!-- <div class="overview-chart">
                <canvas id="widgetChart1"></canvas>
              </div> -->
          </div>
        </div>

      </div>
    </div>
  </div>



  <!-- <div class="col-lg-6">
    <img src="./assets/images/car/carrun.jpg" alt="">
  </div> -->
</div>
<div class="row">


  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <div class="overview-item overview-item--c2">
          <div class="overview__inner">
            <div class="overview-box clearfix">
              <div class="icon">
                <i class="zmdi zmdi-shopping-cart"></i>
              </div>
              <div class="text">
                <h2>{{currentData?.engLoad}}</h2>
                <span>Engine Load</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <div class="overview-item overview-item--c1">
          <div class="overview__inner">
            <div class="overview-box clearfix">
              <div class="icon">
                <i class="fas fa-thermometer"></i>
              </div>
              <div class="text">
                <h2>{{currentData?.engCoolantTmp}}
                  <span>C</span>
                </h2>
                <span>Coolent Temp</span>
              </div>
            </div>
            <!-- <div class="overview-chart">
                  <canvas id="widgetChart1"></canvas>
                </div> -->
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <div class="overview-item overview-item--c3">
          <div class="overview__inner">
            <div class="overview-box clearfix">
              <div class="icon">
                <i class="zmdi zmdi-shopping-cart"></i>
              </div>
              <div class="text">
                <h2>{{currentData?.airFuelRatio | number:'2.1-2'}}</h2>
                <span>Fuel Air Ratio</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <div class="overview-item overview-item--c4">
          <div class="overview__inner">
            <div class="overview-box clearfix">
              <div class="icon">
                <i class="zmdi zmdi-shopping-cart"></i>
              </div>
              <div class="text">
                <h2>{{currentData?.tripDistance | number:'2.1-2'}}</h2>
                <span>Trip Distance</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    {{'https://maps.google.com/maps?q='+currentData?.gpsLatitude+','+currentData?.gpsLongitude+'&hl=es;z=30&amp;output=embed'}}
    <iframe width="100%" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{'https://maps.google.com/maps?q='+currentData?.gpsLatitude+','+currentData?.gpsLongitude+'&hl=es;z=30&amp;output=embed'}}">
    </iframe>
  </div>
</div>
<div class="row">

</div>
<div class="row">

</div> -->